<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ResuMaster">
        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/Theme.App.Starting"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.onboarding.OnboardingActivity"
            android:exported="false" />

        <activity
            android:name=".ui.dashboard.DashboardActivity"
            android:exported="false" />

        <activity android:name=".ui.dashboard.CreateResumeActivity" android:exported="false" />
        <activity android:name=".ui.template.TemplateSelectionActivity" android:exported="false" />
        <activity android:name=".ui.builder.ResumeBuilderActivity" android:exported="false" />
        <activity android:name=".ui.builder.EducationActivity" android:exported="false" />
        <activity android:name=".ui.builder.ExperienceActivity" android:exported="false" />
        <activity android:name=".ui.builder.SkillsProjectsActivity" android:exported="false" />
        <activity android:name=".ui.builder.SummaryPreviewActivity" android:exported="false" />
        <activity android:name=".ui.builder.AiResumeActivity" android:exported="false" />
        <activity android:name=".ui.builder.ResumePdfPreviewActivity" android:exported="false" />
        <activity android:name=".ui.dashboard.MyResumeActivity" android:exported="false" />
        <activity android:name=".ui.dashboard.AiImproveActivity" android:exported="false" />
        <activity android:name=".ui.dashboard.ExportResumeActivity" android:exported="false" />
        <activity android:name=".ui.dashboard.TemplateActivity" android:exported="false" />
        <activity android:name=".ui.dashboard.ProfileActivity" android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>
